<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cncn.www.testbarchart">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.cncn.config.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MultipleBarsChart" />
        <activity android:name=".RippleActivity" />
        <activity android:name="com.cncn.signed.SignedActivity" />
        <activity android:name="com.cncn.signed.SignedResultActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".PieActivity" />
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cncn.hotfix.HotFixTest" />
        <activity android:name="com.cncn.OnTouch.Main4Activity" />
        <activity android:name="com.cncn.retrofit.RetrofitbaseTest" />
        <activity android:name="com.cncn.retrofit2.Api.use.TestActivity" />
        <activity android:name="com.cncn.LoopereHandle.LoopTest" />
        <activity android:name="com.cncn.testjava.SimpleActivity" />
        <activity
            android:name=".ConstaintLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>